.Rproj.user
Data
20250128_gram_clustering_lasso_positive-mode.Rmd
20250128_gram_clustering_lasso_positive-mode_2025-01-28
InfectedvsNoninfected_Manoj_predictions.csv
InfectedvsNoninfected_Manoj_predictionsratios.csv
MSPen Positive mode Analysis_sample and isolates_information.xlsx
combined_matrix.csv
combined_positive-negative_gram_featurelist_lasso_2025-03-03
combined_positive-negative_gram_featurelist_lasso_2025-03-17
gram_clustering_lasso_positive-mode_peak-match_2025-01-28
gram_clustering_lasso_positive-mode_peak-match_2025-02-03
gram_clustering_lasso_positive-mode_peak-match_2025-03-17
isotope_calculation_infection.xlsx
matched_mz.RData
pseudomonas_dunn_results.xlsx
ratio-lasso_gram_featurelist_2025-04-14
Ratio-lasso.rmd
.Rhistory
outputs
Pseudomonas_only_esi/
Some expected mz ratio _5aug2025.xlsx